#ext_menu-1p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1p.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1p .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1p .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-1n .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-1n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1n .mbr-article {
  color: #fff;
}
#ext_menu-1q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1q.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1q .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1q .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-1t .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-1t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1t .mbr-article {
  color: #fff;
}
#content5-1t .mbr-article DIV {
  color: #ffffff;
}
#content5-1t .mbr-article I {
  color: #b8312f;
}
#ext_menu-1u .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1u .mbr-navbar__section {
  background: #000000;
}
#ext_menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-1z .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-1z .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1z .mbr-article {
  color: #fff;
}
#content5-1z .mbr-article P {
  color: #ffffff;
  text-align: left;
}
#ext_menu-21 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-21 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-21 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-2e .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-2e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2e .mbr-article {
  color: #fff;
}
#content5-2e .mbr-article I {
  color: #ffffff;
}
#content5-2e .mbr-article DIV {
  color: #ffffff;
}
#ext_menu-2f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2f.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2f .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2f .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-2i .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-2i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2i .mbr-article {
  color: #fff;
}
#content5-2i .mbr-article P {
  color: #ffffff;
}
#ext_menu-2j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2j.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2j .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2j .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-2l .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-2l .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2l .mbr-article {
  color: #fff;
}
#ext_menu-2m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2m.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2m .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2m .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2p.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2p .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2p .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-2q .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-2q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2q .mbr-article {
  color: #fff;
}
#content5-2r .mbr-header .mbr-header__text {
  text-align: left;
  color: #b8312f;
}
#content5-2r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2r .mbr-article {
  color: #fff;
}
